body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", monospace;
    font-style: normal;
}

.wrapper {
    background: #FFFFFF;
}

.navbar {
    text-align: center;
}

.nav {
    display: inline-block;
    margin-right: 36px;
    padding: 29px 0;
}

.nav-link {
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #175c93;
    text-decoration: none;
    margin-right: 72px;
}

.nav-link:hover {
    border-bottom: 1px solid #175c93;
}

.banner {
    width: 100%;
    height: 789px;
}

.content {
    padding: 48px 67px 42px;
    text-align: center;

}

.content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 0;
    margin-bottom: 38px;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 28px;
}

.button {
    width: 191px;
    height: 51px;
    left: 545px;
    top: 557px;
    color: white;
    background: #175c93;
    border-radius: 4px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    margin-top: 66px;
    font-family: "Montserrat", monospace;
    transition: 0.4s;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.footer-text {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #373737;
    padding-left: 1400px;
    margin-top: 82px;
    margin-bottom: 29px;
}

